version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: appsec
      POSTGRES_PASSWORD: appsec
      POSTGRES_DB: appsec_risk
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    env_file:
      - ./.env
    depends_on:
      - db
    ports:
      - "8000:8000"

  worker:
    build: ./worker
    env_file:
      - ./.env
    depends_on:
      - db

  dashboard:
    build: ./dashboard
    env_file:
      - ./.env
    depends_on:
      - backend
      - db
    ports:
      - "8501:8501"

volumes:
  pgdata:
